*.xlsx
*.xls
*.mat
*.csv
*.pdf
*.zip
*.tar
*.png
*.asv
*.mlx
*.txt
!README*.txt
*.shp
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shx
*.xml
*.html
*.ini
*.docx
*.gdbtable
*.gdbindexes
*.atx
*.gdbtablx
*.spx
*.gdb
